html {
  overflow-x: hidden;
}

body {
  font-family: $secondary-font;
  font-weight: 200;
  color: #333;

  @mixin atMedium {
    font-family: $primary-font;
  }

  &.cover {
    background-color: #000;
  }
}

body.sidenav-expanded {
  overflow: hidden;
  position: fixed;
}


img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.main-margin {
	margin-left: 20%;
}


.shadow-black {
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-white {
	box-shadow: 1px 1px 30px -1px rgba(255, 255, 255, 0.49);
}

