.contact {
  height: 100vh;

&__title {
  font-family: $secondary-font;
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;

  @mixin atMedium {
    font-size: 25px;
    letter-spacing: 3px;
  }
}

}