.main-header {
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.cover {
        background-color: #000;
    }

    @mixin atMedium {
        height: 120px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-right-wrapper {

        @mixin atMedium {
            display: flex;
            align-items: center;
        }

        .social-icons {
            display: none;

            @mixin atMedium {
                display: block;
            }
        }
    }

    &__logo {
        max-width: 220px;
        height: auto;

        @mixin atSmall {
            max-width: 300px;
        }

        @mixin atMedium {
            max-width: 380px;
        }
    }
}
